* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
}

.header-bg {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.head-logo {
  cursor: pointer;
}

.head-logo:hover {
  transition: all 0.5s;
  opacity: 0.6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px;
}

.try-btn {
  box-shadow: rgba(0, 0, 0, 0.048) 0px 5px 15px;
  color: hsl(192, 100%, 9%);
  background-color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-weight: bold;
  border: none;
  height: 55px;
  width: 220px;
  border-radius: 30px;
  cursor: pointer;
}

.try-btn:hover {
  transition: all 0.5s;
  background-color: hsl(325, 89%, 93%);
}

.main-content {
  color: hsl(192, 100%, 9%);
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 100px;
}

h1 {
  font-size: 3.3rem;
  line-height: 4.5rem;
  margin-bottom: 50px;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.main-img {
  flex: 1;
  width: 150px;
}

.get-btn {
  box-shadow: rgba(0, 0, 0, 0.048) 0px 5px 15px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(322, 100%, 66%);
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  height: 60px;
  width: 360px;
  margin-top: 40px;
  cursor: pointer;
}

.get-btn:hover {
  transition: all 0.5s;
  color: hsl(0, 0%, 100%);
  background-color: hsl(322, 78%, 40%);
}

.main {
  display: flex;
  width: 100%;
  padding: 50px;
  justify-content: space-between;
}

.border-top {
  display: flex;
  border: 1px solid hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  height: 480px;
  width: 90%;
  margin-left: 100px;
  margin-top: 180px;
  align-items: center;
  padding: 100px;
  box-shadow: 0px 0px 31px -10px rgba(0, 0, 0, 0.171);
}

.border-top h2 {
  position: absolute;
  color: hsl(192, 100%, 9%);
  margin-top: -160px;
  font-size: 35px;
}

.border-top p {
  font-size: 22px;
  color: hsl(208, 11%, 55%);
}

.border-top img {
  height: 390px;
  margin-left: 420px;
  cursor: pointer;
}

.border-mid {
  display: flex;
  border: 1px solid hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  height: 480px;
  width: 90%;
  margin-left: 100px;
  margin-top: 40px;
  align-items: center;
  padding: 100px;
  box-shadow: 0px 0px 31px -10px rgba(0, 0, 0, 0.171);
}

.border-mid h2 {
  position: absolute;
  color: hsl(192, 100%, 9%);
  margin-top: -160px;
  font-size: 35px;
  margin-left: 895px;
}

.border-mid p {
  font-size: 22px;
  color: hsl(208, 11%, 55%);
  margin-left: 350px;
}

.border-mid img {
  height: 390px;
  cursor: pointer;
}

.border-bottom {
  display: flex;
  border: 1px solid hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  height: 480px;
  width: 90%;
  margin-left: 100px;
  margin-top: 40px;
  align-items: center;
  padding: 100px;
  box-shadow: 0px 0px 31px -10px rgba(0, 0, 0, 0.171);
}

.border-bottom h2 {
  position: absolute;
  color: hsl(192, 100%, 9%);
  margin-top: -160px;
  font-size: 35px;
}

.border-bottom p {
  font-size: 22px;
  color: hsl(208, 11%, 55%);
}

.border-bottom img {
  height: 390px;
  margin-left: 420px;
  cursor: pointer;
}

.info {
  position: relative;
  border: 1px solid hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 18px;
  height: 290px;
  width: 50%;
  margin-left: 475px;
  margin-top: 170px;
  align-items: center;
  justify-content: center;
  padding: 100px;
  box-shadow: 0px 0px 31px -10px rgba(0, 0, 0, 0.171);
  z-index: 1;
}

.info h2 {
  color: hsl(192, 100%, 9%);
  font-size: 30px;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info button {
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  background-color: hsl(322, 100%, 66%);
  box-shadow: rgba(0, 0, 0, 0.164) 0px 5px 15px;
  border-radius: 40px;
  height: 70px;
  width: 365px;
  margin-top: 40px;
  margin-left: 180px;
  cursor: pointer;
}

.info button:hover {
  transition: all 0.5s;
  color: hsl(0, 0%, 100%);
  background-color: hsl(322, 78%, 40%);
}

footer {
  border: none;
  background-color: hsl(192, 100%, 9%);
  margin-top: -95px;
  height: 600px;
}

.content-inclusive {
  display: flex;
}

.footer-logo {
  position: absolute;
  margin-top: 150px;
  margin-left: 145px;
  cursor: pointer;
}

.footer-logo:hover {
  transition: all 0.5s;
  opacity: 0.6;
}

.content-left {
  color: rgb(255, 255, 255);
  margin-top: 230px;
  margin-left: 180px;
  font-size: 15px;
}

.location {
  font-weight: 400;
}

.location-ico {
  margin-top: 8px;
}

.phone {
  margin-top: 30px;
  font-weight: 400;
}

.email {
  margin-top: 30px;
  font-weight: 400;
}

.content-left img {
  position: absolute;
  margin-left: -35px;
}

.content-middle {
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 230px;
  margin-left: 750px;
  font-size: 15px;
}

.content-middle h3 {
  font-weight: 400;
}

.content-right {
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: 230px;
  margin-left: 1050px;
}

.content-right h3 {
  font-weight: 400;
}

.li-1 {
  cursor: pointer;
}

.li-1:hover {
  text-decoration: underline;
}

.li-2 {
  margin-top: 20px;
  cursor: pointer;
}

.li-2:hover {
  text-decoration: underline;
}

.li-3 {
  margin-top: 20px;
  cursor: pointer;
}

.li-3:hover {
  text-decoration: underline;
}

.li-4 {
  cursor: pointer;
}

.li-4:hover {
  text-decoration: underline;
}

.li-5 {
  margin-top: 20px;
  cursor: pointer;
}

.li-5:hover {
  text-decoration: underline;
}

.li-6 {
  margin-top: 20px;
  cursor: pointer;
}

.li-6:hover {
  text-decoration: underline;
}

.icons {
  position: absolute;
  display: flex;
  color: rgb(255, 255, 255);
  margin-top: 230px;
  margin-left: 1365px;
  gap: 20px;
  cursor: pointer;
}

.icons i {
  font-size: 1rem;
  color: #fff;
}

.icons i:hover {
  transition: all 0.7s;
}

.icons-item {
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 50%;
}

.icons-item:hover {
  transition: all 0.7s;
}

.icons-item i:hover {
  transition: all 0.7s;
}

#facebook:hover {
  color: #3b5998;
}

#twitter:hover {
  color: #1da1f2;
}

#insta:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-copyright h3 {
  color: rgb(255, 255, 255);
  margin-top: 420px;
  margin-left: 855px;
  font-weight: 300;
  font-size: 14px;
}